@import '../../sass/base/function.scss';

.comic {
    width: 100%;
    display: flex;
    align-items: flex-start;
    column-gap: 50px;

    &__image {
        flex: 0 0 prc(293, 1100);
    }

    &__descr,
    &__back {
        flex: 0 1 auto;
    }

    &__image {
        // flex: 0 1 prc(293, 1100);
        // width: 293px;
        // height: 450px;
        position: relative;
        overflow: hidden;
        padding-bottom: prc(450, 1100);

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: 0.2s;
        }
    }

    &__descr {
        max-width: 550px;
        display: flex;
        flex-direction: column;
        row-gap: 25px;
    }

    &__name {
        font-size: 22px;
        font-weight: 700;
        line-height: lh(22, 29);
    }

    &__text,
    &__page,
    &__language,
    &__back {
        font-size: 18px;
        line-height: lh(18, 24);
    }

    &__price {
        color: #9F0013;
        font-size: 24px;
        font-weight: 700;
        line-height: lh(24, 32);
    }

    &__back {
        min-width: 80px;
        font-weight: 700;
        margin-left: auto;

        @media (hover: hover) and (pointer: fine) {
            &:hover {
                cursor: pointer;
                text-decoration: underline;
            }
        }
    }
}