@import '../../sass/base/function.scss';

.search {
    width: 100%;
    margin-top: 30px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);

    &__label {
        font-size: 18px;
        font-weight: 700;
        line-height: lh(18, 24);
    }

    &__form {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    &__input {
        max-width: 250px;
        width: 100%;
        height: 38px;
        padding: 10px;
        border: none;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        line-height: lh(14, 18);
        // &::placeholder{
        //     color: rgba(0, 0, 0, 0.50);
        // }
    }

    &__block-messaage {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__message {
        font-size: 18px;
        font-weight: 700;
        line-height: lh(18, 24);

        &_main-color {
            color: #9F0013;
        }

        &_green {
            color: #03710E;
        }
    }
}